<!DOCTYPE html>
<html>
<head>
<title>Print Screen</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/printscreen2.js"></script>
<script type="text/javascript" src="/brainlock2.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/printscreen2.css" />
<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
<canvas id="canvas" width="200" height="200"></canvas>
<div class="container">
<div><input type="text" id="intervalMS" value="<%= intervalMS %>" placeholder="Interval (in ms)"><button id="buttonStart"> Start </button><button id="buttonStop"> Stop </button></div>
<div><input type="text" id="roomID" value="<%= roomID %>" placeholder="Enter roomID and click button"><button id="button"> Button </button></div>
</div>
<div><h1 style="color:blue">Обалко *облако тегнов *тегов и калитка</h1>
<h2 style="color:brown">Вот так оно будет думать - утолщениями<br>Запрос это множество срезов/контентов. Как показать их все на одной странице? Ответ очевиден - упаковка с утолщениями в один комбо срез</h2></div>
</body>
</html>