<!DOCTYPE html>
<html>
<head>
<title>Print Screen</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/printscreen1.js"></script>
<script type="text/javascript" src="/brainlock1.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/printscreen.css" />
<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>

<div class="container">
<div><input type="text" id="md5" value="<%= md5 %>" placeholder="Enter md5 and click canvas"></div>
<div><canvas id="canvas" width="200" height="200"></canvas></div>
</div>

</body>
</html>